@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300;1,700&display=swap');

/* Fjerner default padding/margin og indsætter font */
*{
    padding: 0;
    margin: 0;
    font-family: 'Ultra', serif;
}

/* Indsætter farve variabler */
:root{
    --kasser: #fcfcfc;
    --skrift: #303030;
    --knap: #cd9c43;
    --baggrund: #326537;
    --body: #efefe3;
}


